<section class="header">
    <div class="menu">
        <div class="logo">
            <a href="{{path()}}">
                <span class="logo-text">myResume</span>
            </a>
        </div>    
        <nav class="nav" id="navbar">
            <ul>
                <li class="{{ request().is('home') ? 'active' : '' }}">
                    <a href="{{path('')}}">Home</a>
                </li>
                <li class="{{ request().is('contact') ? 'active' : '' }}">
                    <a href="{{path('contact')}}">Contact</a>
                </li>
                <li class="{{ request().is('project') ? 'active' : '' }}">
                    <a href="{{path('project')}}">Projects</a>
                </li>
                <li class="{{ request().is('road') ? 'active' : '' }}">
                    <a href="{{path('road')}}">Roadmap</a>
                </li>               
                </li>
                <li class="{{ request().is('post') ? 'active' : '' }}">
                    <a href="{{path('post')}}/1" class="top-icon">
                        <i class="world icon"></i>
                        <span class="notify"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="javascript:void(0)" class="menu-icon" onclick="showMenu()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
</section>
